@font-face {
  font-family: 'ChosunGs';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100vh;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  filter: grayscale(90%);
  border: 3px solid black;
}

p {
  font-family: 'ChosunGs';
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-shadow: 1px 1px 1px gray;
  word-spacing: 4px;
}
