body {
  background-image: url(images/bg.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-y: hidden;
}

h1,
p {
  padding: unset;
  margin: unset;
}

.wrapper {
  width: 18.75rem;
}

.fox {
  background-image: url(images/animal07.png);
  height: 18.75rem;
}

.green {
  background-image: url(images/green.png);
  margin-bottom: 0.62rem;
}

.container {
  background-color: #9c6035;
  height: 19.125rem;
  border-radius: 0rem 0rem 1.875rem 1.875rem;
  border-bottom: 10px solid #46260e;
}

header {
  color: #fff;
  font-family: Arial;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 1.25rem;
}

.text {
  padding: 0 1.25rem;
  color: #e8bc9c;
  font-family: Arial;
  font-size: 1rem;
  padding-top: 0.63rem;
}
